<IfModule mod_rewrite.c>
  RewriteEngine On 
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d    
  RewriteRule ^(.*)$ index.php/$1 	 [L] 
</IfModule>

ErrorDocument 400 /index.php/pagina-no-encontrada
ErrorDocument 403 /index.php/acceso-denegado
ErrorDocument 404 /index.php/pagina-no-encontrada
ErrorDocument 405 /index.php/pagina-no-encontrada
ErrorDocument 408 /index.php/pagina-no-encontrada
ErrorDocument 500 /index.php/pagina-no-encontrada
ErrorDocument 502 /index.php/pagina-no-encontrada
ErrorDocument 504 /index.php/pagina-no-encontrada

